html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none
}


:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: .65em;
    background-image: url(../images/brickwall.jpg);
    /* box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.8);*/
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.navbar {
    margin-bottom: 0;
}

.container .jumbotron,
.container-fluid .jumbotron {
    /*padding-right: 60px;
    padding-left: 60px;*/
    
    margin-top: 10px;
}

.jumbotron {
    background: transparent;
    margin: 0;
    padding: 3em;
    /*box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.8);*/
    
    color: white;
}

.jumbotron p {
    margin-bottom: 8px;
    font-size: 1em;
    font-weight: 200;
    padding-left: .60em;
}

.new {
    height: 70vh;
    background-image: url(../images/sqWood.jpg);
    position: relative;
    float: right;
    border-radius: 0.5em;
}

.boxHeader {
    padding: 0.25em;
    color: lightgrey;
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.25em;
    background-color: #59413b;
    position: inherit;
}

.boxHeader .myButton {
    float: right;
    clear: both;
    margin-top: 0.1875em;
    margin-right: 0.1875em;
}

.new1 {
    height: 70vh;
    background-image: url(../images/sqWood.jpg);
    position: relative;
    float: left;
}

.roomDescriptionViewer {
    background-color: black;
    border: 0.0625em solid grey;
    border-radius: 0.5em;
    box-shadow: 0 0 1.875em rgba(0, 0, 0, 0.8);
    position: static;
    display: block;
    overflow: hidden;
}

.feed {
    background-color: black;
    height: 70vh;
    width: 100%;
    box-shadow: 0 0 1.875em rgba(0, 0, 0, 0.8);
}

.text-push {
    overflow: auto;
}

.text-push li {
    line-height: 1.2;
    padding: .4em .5em;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sortable li {
    margin: 0 0.1875em 0.1875em 0.1875em;
    height: 21em;
    width: 15em;
    border-radius: 0.5em;
    color: white;
}

.form-control {
    background-color: black;
    color: rgba(155, 133, 111, 0.6);
    margin-top: 2.3125em;
    margin-bottom: 1em;
}

.col-md-1,
.col-md-2 {
    margin-bottom: 0.9375em;
}

.ui-state-default {
    background-image: url(../images/black.jpg);
    background-size: cover;
}

.actionbar {
    margin-left: 40%;
    margin-top: 1.5em;
}
/* Images for Splash Page */

.splashImgRight {
    background-image: url(../images/dragonLeft.jpg);
    background-color: white;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 45em;
    margin: 10% auto;
    border: 1px solid black;
    -moz-box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.9);
}

.splashImgLeft {
    background-image: url(../images/dragonLeft.jpg);
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 45em;
    margin: 10% auto;
    border: 1px solid black;
    -moz-box-shadow: -20px 30px 20px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: -20px 30px 20px rgba(0, 0, 0, 0.9);
    box-shadow: -20px 30px 20px rgba(0, 0, 0, 0.9);
}
/* Top Title on Splash Screen */

.heroOne {
    max-width: 700px;
    padding: 25px 25px 25px 25px;
    -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 80px 10px 100px 0px;
    text-align: center;
    margin-top: 10%;
    background: white;
}

.heroOne h1 {
    font-family: cursive;
    font-size: 45px;
    font-weight: 700;
    color: blue;
}

.heroOne p {
    font-size: 20px;
    color: black;
    font-weight: normal;
}
/* Top title ends here */
/* Middle of splash second box */

.hole {
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    text-align: center;
    padding: 40px 0;
    -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.8);
    margin-top: 10%;
}

.playscreen {
    max-width: 200px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    text-decoration: none;
    padding: 10px 0;
    color: white;
}

.playscreen a {
    text-decoration: none;
}
/* End of middle of splash */
/* Bottom of splash page Last box */

.instructions {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5%;
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 0px 80px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 100px 0px 80px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 110px 80px rgba(0, 0, 0, 0.5);
}

.instructions li {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

.instructions h1 {
    font-size: 1.2em;
    line-height: 2;
}

.centerme {
    margin-left: 25%;
    margin-right: 25%;
}
/* LOGIN SCREEN autorization form */

.auth-forms {
    max-width: 400px;
    margin: 15% auto;
    background: #fff;
    padding: 25px 25px 25px 25px;
    -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.auth-forms h2 {
    font-size: 30px;
    font-weight: bold;
}

#comment-list {
    position: relative;
    color: white;
    font-size: 14px;
    padding-left: 1em;
}

.form-control {
    margin-top: 1em;
    margin-bottom: .5em;
    padding: .3em .3em;
    height: 1.7em;
    font-size: 1em;
}

.form-group {
    margin-bottom: 0;
}

.auth-formsRegister {
    max-width: 400px;
    margin: 30% auto;
    background: #fff;
    padding: 25px 25px 25px 25px;
    -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* REGISTER SCREEN authorizaion form */

.btn-default {
    -moz-box-shadow: 0px 10px 14px -7px #040505;
    -webkit-box-shadow: 0px 10px 14px -7px #040505;
    box-shadow: 0px 10px 14px -7px #040505;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #050505), color-stop(1, #4c5657));
    background: -moz-linear-gradient(top, #050505 5%, #4c5657 100%);
    background: -webkit-linear-gradient(top, #050505 5%, #4c5657 100%);
    background: -o-linear-gradient(top, #050505 5%, #4c5657 100%);
    background: -ms-linear-gradient(top, #050505 5%, #4c5657 100%);
    background: linear-gradient(to bottom, #050505 5%, #4c5657 100%);
    background-color: #050505;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .85em;
    font-weight: bold;
    padding: .5em .9em;
    text-decoration: none;
}

.btn-default:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c5657), color-stop(1, #050505));
    background: -moz-linear-gradient(top, #4c5657 5%, #050505 100%);
    background: -webkit-linear-gradient(top, #4c5657 5%, #050505 100%);
    background: -o-linear-gradient(top, #4c5657 5%, #050505 100%);
    background: -ms-linear-gradient(top, #4c5657 5%, #050505 100%);
    background: linear-gradient(to bottom, #4c5657 5%, #050505 100%);
    background-color: #4c5657;
    color: white;
}

.btn-default:active {
    position: relative;
    top: 1px;
    color: white;
}

.myButton {
    font-size: .65em;
}

.text-padding {
    padding: .35em 0 0 .40em;
}
/* media queries*/

@media (min-width: 150px) and (max-width: 768px) {
    .heroOne h1 {
        font-size: 2.4em;
    }
    .heroOne p {
        font-size: 1.2em;
    }
}

@media (min-width: 150px) and (max-width: 992px) {
    .hideSplashImg {
        display: none;
    }
}

@media (min-width: 150px) and (max-width: 1200px) {
    .media-hide {
        display: none;
    }
    body {
        padding: 0 auto;
        margin: 0 auto;
    }
    .btn-default {
        font-size: .80em;
        padding: .5em .5em;
    }
}

@media (min-width: 1200px) and (max-width: 4200px) {
    .resizable {
        margin: 0 0.1875em 0.1875em 0.1875em;
        height: 20em;
        width: 20em;
        border-radius: 0.5em;
        color: white;
    }
}