<ul class="nav navbar-nav navbar-right">
    <li ng-show="signedIn()">
        <a href="#" ng-click="logout()">Logout</a>
    </li>
</ul>
<div class="fluid-container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 cold-lg-3 col-xl-3">
        	<div class="splashImgLeft">
        		<!-- <img src="../images/dragonLeft.jpg"/> -->
        	</div>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<!-- top of screen First box -->
            <div class="heroOne">
                <h1>GR8DRAGON:</h1>
                <p>Code of the peasants.</p>
            </div>
<!-- Middle of splash second box -->
        	<div class="hole">
            <div class="playscreen">
                <h1>JOIN NOW!</h1>
                <a href="#/play">Play<a/>
            </div>
			</div>
<!-- bottom of splash third box -->
			<div class="instructions">
				<h1>INSTRUCTIONS:</h1> 
				<ol>
					<li>Use the clickable action bar to move around this strange place.</li>
					<li>Watch as your experience and gold levels increase based on your travels.</li>
					<li>Watch your room description change as you explore.</li>
					<li>Try not to get lost...or worse</li>
				</ol>
			</div>
		</div>

		<div class="col-xs-3 col-sm-3 col-md-3 cold-lg-3 col-xl-3">
			<div class="splashImgRight">
        		<!-- <img src="../images/dragonLeft.jpg"/> -->
        	</div>
		</div>
	</div>
</div>
