<!-- <span class="hero centerme">THE MOST CONFUSING RPG EVER</span> -->
<div class="jumbotron">
    <div class="row">
        <!-- Left Panel -->
        <div ng-controller="UiLeftCtrl" class="col-sm-0 col-md-3 col-lg-3 col-xl-1 media-hide">
            <div class="new">
                <ul id="sortOne" class="sortable">
                    <li class="resizable ui-state-default">
                        <p class="boxHeader">Details<a href="#" class="myButton">X</a>
                        </p>
                        <div ng-model="weapondetails">
                            <div class="text-padding">{{weapondetails}}</div>
                        </div>
                    </li>
                    <li class="resizable ui-state-default">
                        <p class="boxHeader">Rooms To Find<a href="#" class="myButton">X</a>
                        </p>
                        <div class="text-padding" ng-model="playerCoordinates">Current Location: X{{playerCoordinatesX}},Y{{playerCoordinatesY}}</div>
                        <br>
                        <div class="text-padding">Locations For Testing:</div>
                        <div class="text-padding">X[1],Y[0]</div>
                        <div class="text-padding">X[2],Y[0]</div>
                        <div class="text-padding">X[3],Y[0]</div>
                        <div class="text-padding">X[4],Y[0]</div>
                        <div class="text-padding">X[5],Y[0]</div>
                        <br>
                        <br>
                        <div class="text-padding">For testing only</div>
                        <!-- coming in next iteration -->
                    </li>
                    <li class="resizable ui-state-default">
                        <p class="boxHeader">Room Description<a href="#" class="myButton">X</a>
                        </p>
                        <div class="text-padding" ng-model="rooms">{{currentdescription}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CENTER PANEL Game veiwer -->
        <div ng-controller="DescriptionCtrl" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-10">
            <div class="feed">
                <div class="roomDescriptionViewer">
                    <p class="boxHeader" ng-model="rooms">{{currentroom}}</p>
                    <div class="text-padding" ng-model="rooms">{{currentdescription}}</div>
                </div>
                <div ng-controller="UiMiddleCtrl">
                    <div scroll-glue class="text-push">
                        <ul>
                            <li ng-repeat="text in textfeed track by $index">
                                {{text}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Panel  -->
        <div ng-controller="UiRightCtrl" class="col-sm-3 col-md-3 col-lg-3 col-xl-1 media-hide">
            <div class="new1">
                <ul id="sortTwo" class="sortable sortIndex">
                    <li class="resizable ui-state-default">
                        <p class="boxHeader">Status<a href="#" class="myButton" id="character">X</a>
                        </p>
                        <div>
                            <div class="text-padding" ng-bind="playername">Name: {{playername}}</div>
                            <div class="text-padding" ng-bind="playerclass">Class: {{playerclass}}</div>
                            <div class="text-padding" ng-bind="playerhealth">Health: {{playerhealth}}</div>
                            <div class="text-padding" ng-model="playerCoordinates">Coords: X{{playerCoordinatesX}},Y{{playerCoordinatesY}}</div>
                            <div class="text-padding" ng-model="currentexperience">Experience: {{currentexperience.experience}}</div>
                            <div class="text-padding" ng-model="gold">Gold: {{currentgold.gold}}</div>
                        </div>
                    </li>
                    <li class="resizable ui-state-default">
                        <p class="boxHeader">Spells<a href="#" class="myButton">X</a>
                        </p>
                        <div>
                            <div class="text-padding" ng-bind="spell1">Spell: {{spell1}}</div>
                            <div class="text-padding" ng-bind="spell2">Spell: {{spell2}}</div>
                        </div>
                    </li>
                    <li class="resizable ui-state-default">
                        <p class="boxHeader">Inventory<a href="#" class="myButton">X</a>
                        </p>
                        <div>
                            <div class="text-padding" ng-bind="weapon">Weapon: {{weapon}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-md-3"></div>
            <div class="col-xs-12 col-sm-10 col-md-6">
                <form class="actionbar">
                </form>
                <form ng-submit="submitAction()" class="media-hide">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Not working yet!">
                        <button type="submit" class="btn-default">Submit</button>
                    </div>
                </form>
                <button ng-click="move(moveLeft)" type="submit" class="btn-default pull-right">West</button>
                <button ng-click="move(moveRight)" type="submit" class="btn-default pull-right">East</button>
                <button ng-click="move(moveDown)" type="submit" class="btn-default pull-right">South</button>
                <button ng-click="move(moveUp)" type="submit" class="btn-default pull-right">North</button>
            </div>
            <div class="col-xs-1 col-md-3"></div>
        </div>
    </div>
</div>